# Recursive Call ( 재귀 용법 )
- 함수 안에서 동일한 함수 사용
- 고급 정렬 알고리즘에서 사용

## ex) Factorial
- 4! = 4 x 3!
- n!의 시간복잡도 & 공간복잡도 : O(n-1)

유형 1)

In [3]:
def fac(n):
    if n >1 :
        return n*fac(n-1)
    else :
        return 1

In [4]:
fac(3)

6

유형 2)

In [7]:
def fac2(n):
    if n<=1 :
        return 1
    return_val = n*fac2(n-1)
    return return_val

In [8]:
fac2(3)

6

## 연습 1 : factorial

In [11]:
def mul(n):
    return_value = 1
    for i in range(1,n+1):
        return_value *= i
    return return_value

In [12]:
mul(3)

6

In [15]:
def mul2(n):
    if n <=1 :
        return n
    return_val = n*mul2(n-1)
    return return_val

In [16]:
mul2(3)

6

## 연습 2 : List의 Total Sum

In [17]:
def sum_list(data):
    if len(data) == 1:
        return data[0]
    value = data[0] + sum_list(data[1:])
    return value

In [18]:
sum_list([1,3,5])

9

## 연습 3 : Palindrome

In [19]:
def palindrome(string):
    if len(string) <=1 :
        return True
    if string[0] == string[-1]:
        return palindrome(string[1:-1])
    else :
        return False

In [20]:
palindrome('Haha')

False

In [21]:
palindrome('Hah')

False

In [22]:
palindrome('HaH')

True

## 연습 4 : 짝수 시 n/2, 홀수 시  3n+1 
- n이 1이 될 때까지

In [25]:
def func(n):
    print(n)
    if n==1:
        return n
    if n%2 ==1:
        return func(3*n+1)
    else :
        return func(int(n/2))

In [26]:
func(3)

3
10
5
16
8
4
2
1

1

## 연습 5 : 정수 n을 1,2,3의 합의 조합으로 나타내는 모든 가지의 수

In [27]:
def func2(n):
    if n==1:
        return 1  # 1
    elif n==2:
        return 2 # 1+1, 2
    elif n==3 :
        return 4 # 1+1+1, 1+2, 2+1, 3
    return func2(n-1) + func2(n-2) + func2(n-3)

In [28]:
func2(10)

274